<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single file uploader</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
        <h1 class="mt-5 text-success">Single File Uploader</h1>
        <h2 class="mt-4">Upload file</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" name="file" class="form-data" required />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        
    </div>

  </body>
</html>
